.item {
  border: 2px solid var(--mainColor);   
  display: flex;
  border-radius: 20px;
  width: 100%;
  padding-inline:20px 15px;
  padding-block: 5px;
  align-items: center;
  background-color: white;
  justify-content: center;
  @media screen and (max-width: 600px) {
    width: 100%;
    
  }
  cursor: pointer;
  &:hover {
    scale: 1.01;

  }
  transition: 0.5s;
}
h1.index {
  flex : 0.5;
  color: var(--mainColor);
  margin: 0;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  @media screen and (max-width: 992px){
    max-width: 30px;
    word-break: break-all;
  }
}
h1.medicine { 
  color: var(--mainColor);
  font-weight: 600;
  flex: 2;
  margin-left: 10px;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
  text-align: end;
  font-size: 16px;
}
h1.index2 {
  flex: 0.8;
  color: var(--mainColor);
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  @media screen and (max-width: 992px){
    max-width: 30px;
    word-break: break-all;
  }
}
h1.medicine2 {
  direction: ltr;
  color: var(--mainColor);
  font-weight: 600;
  flex: 0.7 ;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
  text-align: end;
  font-size: 16px;
}
h1.active {
  direction: ltr;
  color: var(--mainColor);
  font-weight: 600;
  flex: 2;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
  text-align: end;
  font-size: 16px;
}
.icons { 
  display: flex;
  gap: 5px;
  margin-top: -3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & > * {
    margin: 0;
    font-size: 16px;
    padding: 0;
    margin-left: 5px;
    margin-top: 5px;
  }
}
.bordered {
  border: 2px solid var(--mainColor);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 2px;
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: white;
    color: var(--mainColor);
  }
}