.container2222 {
  padding: 0 !important;
  border: 1px solid black;
  margin-top: 10px;
  min-height: 90px;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 350px;
}

.dashboard {
  min-height: 85vh;
}

